# Site settings
title: Aditya Pratap Singh
email: adityasingh.devs@gmail.com
description: Academic webpage of Aditya Singh
baseurl: ""
url: "https://adityasinghdevs.github.io"

# Google analytics ID: Uncomment and your own, if you like
# google_analytics: XX
# google_analytics_4: XXX
# google_tag_manager: XXX

# Footer info
affiliation: >
  Aditya Pratap Singh<br/>
  B.Tech Engineering major in AI and Data Science<br/>
  GGSIPU | VIPS

location: >
  GGSIPU | VIPS<br/>
  New Delhi

contact: >
  <a href="mailto:adityasingh.devs@gmail.com" target="_blank"><i class="fa fa-envelope fa-1x"></i> Email</a> <br/>
  <a href="https://github.com/AdityaSinghDevs" target="_blank"><i class="fa fa-github fa-1x"></i> GitHub</a> <br/>
  <a href="https://www.linkedin.com/in/aditya-pratap-singh25/" target="_blank"><i class="fa fa-linkedin fa-1x"></i> LinkedIn</a>


# Pages shown in navbar
nav_pages:
  - name: about
  - name: projects     # Add this one!
  - name: blogs
  - name: publications
  - name: talks
  - name: research
  - name: resume       # Add if you want a dedicated resume page


include:
  - .htaccess
  - _pages

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false
  parse_block_html: true # default for kramdown is false. This will enable using Markdown links

plugins: ["jekyll/scholar"]

scholar:
  last_name: Singh
  first_name: [Aditya]

  style: citesty
  locale: en

  source: /assets/
  bibliography: ref.bib
  bibliography_template: bibtemplate
  sort_by: year, month
  order: descending

  replace_strings: true
  join_strings: true

  details_dir: bibliography
  details_layout: bibtex.html
  details_link: Details

  query: "@*"

  bibliography_list_attributes:
    reversed: "reversed"

exclude:
  - Gemfile
  - Gemfile.lock
  - update_boostrap.sh
  - switch_theme.sh
  - tags
  - Rakefile

# Social image
image: /assets/img/social_preview.jpg
