<div>
{% for member in site.data.pi %}
<div class="jumbotron">
   <center>
   <a href="{{site.url}}{{site.baseurl}}/about"><img class="profile-photo" src="{{ '/images/' | append: member.photo | relative_url }}" style="width: {{ member.width | default: 60 }}%; max-width: 250px; object-fit: {{ member.fit | default: 'cover' }}; object-position: {{ member.position_x | default: 50 }}% {{ member.position_y | default: 50 }}%; display: block; margin: 0 auto;"/></a>
   <h4 style="font-weight: bold; margin-top: 15px;">{{ member.name }}</h4>
   <div class="social-icons" style="margin-top: 12px; display: flex; justify-content: center; gap: 15px;">
     {% if member.linkedin %}<a href="{{ member.linkedin }}" target="_blank" aria-label="LinkedIn" style="color: #0077b5; text-decoration: none;"><i class="fa fa-linkedin fa-2x"></i></a>{% endif %}
     {% if member.x %}<a href="{{ member.x }}" target="_blank" aria-label="X (Twitter)" style="color: #000000; text-decoration: none;"><i class="fa fa-twitter fa-2x"></i></a>{% endif %}
     {% if member.github %}<a href="{{ member.github }}" target="_blank" aria-label="GitHub" style="color: #333333; text-decoration: none;"><i class="fa fa-github fa-2x"></i></a>{% endif %}
   </div>
   </center>
</div>
{% endfor %}
</div>

<div class="jumbotron">
  <!-- <h4>News</h4>

  {% for article in site.data.news limit:3 %}
  <b>{{ article.date }}</b>
    <p>{{ article.headline }}</p>
  {% endfor %}
  
  <h5><a href="{{ site.url }}{{ site.baseurl }}/allnews.html">... see all News</a></h5> -->

</div>
